<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin - Free Bulma template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.6.2-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s="
    crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="./admin.css">
</head>

<body>
  <section class="hero is-info is-small">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-half">
          <p class="title">awesome-engine</p>
          <p class="subtitle">AppId: 12345</p>
        </div>
        <div class="column is-half has-text-right">
          <p>Powered by <b class="has-text-warning">Abcde-F</b> super-engine</p>
          <p>version 1.2</p>
        </div>
      </div>
    </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a>Overview</a>
            </li>
            <li>
              <a>Modifiers</a>
            </li>
            <li>
              <a>Grid</a>
            </li>
            <li>
              <a>Elements</a>
            </li>
            <li>
              <a>Components</a>
            </li>
            <li>
              <a>Layout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <div class="container">
    <div class="column">
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">439k</p>
              <p class="subtitle">Users</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">59k</p>
              <p class="subtitle">Products</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">3.4k</p>
              <p class="subtitle">Open Orders</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">19</p>
              <p class="subtitle">Exceptions</p>
            </article>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-half">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Jobs
              </p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped is-narrow">
                  <tbody>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Jobs
              </p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped is-narrow">
                  <tbody>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                    <tr>
                      <td width="5%">
                        <i class="fa fa-bell-o"></i>
                      </td>
                      <td>Lorum ipsum dolem aire</td>
                      <td>
                        <a class="button is-small is-primary" href="#">Action</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>