<mat-sidenav-container fullscreen>
  <!-- left sidenav -->
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <mat-icon mat-list-icon>Home</mat-icon>
        <span mat-line>Home</span>
        <span mat-line class="secondary">Home</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/network']">
        <mat-icon mat-list-icon>list</mat-icon>
        <span mat-line>Network Graph</span>
        <span mat-line class="secondary">Network Graph</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/tags']">
        <mat-icon mat-list-icon>bookmark</mat-icon>
        <span mat-line>Tags</span>
        <span mat-line class="secondary">Tags</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/product']">
        <mat-icon mat-list-icon>view_week</mat-icon>
        <span mat-line>Departments</span>
        <span mat-line class="secondary">Departments</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- toolbar -->
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sample App</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- toolbar-menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="showAbout()">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>

  <router-outlet></router-outlet>
</mat-sidenav-container>
