<mat-card class="engine-theme">
  <mat-card-header>
    <mat-card-title>
      <h3>
        <a target="_blank" (click)="onEngineClick()">{{engine.name}}</a>
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Running Instances: {{numberOfInstance}}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section *ngIf="engine.engineInstances?.length > 0">
      <div *ngFor="let engineInstance of engine.engineInstances">{{engineInstance.hostName}}</div>
    </section>

    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
      <div>
        <div>
          <small>Completed</small>
        </div>
        <button mat-mini-fab color="primary" [disabled]="disabledCompletedButton()" (click)="onEngineStatusClick(Statuscode.COMPLETED)">{{completedJobCount}}</button>
      </div>
      <div>
        <div>
          <small>Running</small>
        </div>
        <button mat-mini-fab color="accent" [disabled]="disabledRunningButton()" (click)="onEngineStatusClick(Statuscode.RUNNING)">{{runningJobCount}}</button>
      </div>
      <div>
        <div>
          <small>Failed</small>
        </div>
        <button mat-mini-fab color="warn" [disabled]="disabledFailedButton()" (click)="onEngineStatusClick(Statuscode.FAILED)">{{failedJobCount}}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
