/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';
@import '~material-design-iconic-font/dist/css/material-design-iconic-font.min.css';

$ag-mat-primary: #2196f3; // blue-500
$ag-mat-accent: #ffd740; // amber-A200
// Import the ag-Grid material theme
@import '~ag-grid/dist/styles/ag-theme-material';
@import '~ag-grid/dist/styles/ag-grid.css';
// @import '~ag-grid/dist/styles/ag-theme-balham.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
